#mapWindow {
    width: 100%;
    /* height: 500px; */
    min-width: 600px;
}

#inventoryList {
    overflow-y: scroll;
    height: 378px;
}

#battleMenu {
    height: 150px;
    width: 100%;
}

#battleScreen {
    height: 350px;
    width: 100%;
}

.battleMenuScroll {
    height: 100px;
    overflow-y: scroll;
}

.menuWindow {
    width: 100%;
    height: 500px;
}

.spriteImg {
    align-self:flex-end;
}
.imgDisplay{
    height: 250px;
}
.battleText{
    height: 100px;
}

.jumbotron {
    background-image: url(../images/space.jpg);
    background-size: cover;
}
